<div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 30px;">
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">add_alert</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">person_add_alt</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">palette</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">image</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">archive</mat-icon>
   </button>
   <button mat-icon-button>
      <mat-icon style="font-size: 22px;">more_vert</mat-icon>
   </button>
</div>