<div fxLayout="row" fxLayoutAlign="space-between center">
   <button mat-icon-button>
      <img class="icons" src="./../../../assets/icons/add_alert_black_24dp.svg" alt="add_alert">
   </button>
   <button mat-icon-button>
      <img class="icons" src="./../../../assets/icons/person_add_alt_1_black_24dp.svg" alt="person_add_alt">
   </button>
   <button mat-icon-button>
      <img class="icons" src="./../../../assets/icons/color_lens_black_24dp.svg" alt="palette">
   </button>
   <button mat-icon-button>
      <img class="icons" src="./../../../assets/icons/image_black_24dp.svg" alt="image">
   </button>
   <button mat-icon-button (click)='onArchive()'>
      <img class="icons" src="./../../../assets/icons/archive_black_24dp.svg" alt="archive">
   </button>
   <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon style="font-size: 22px; opacity: 0.71;">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
         <button mat-menu-item (click)='onDelete()'>Delete note</button>
         <button mat-menu-item>Add label</button>
         <button mat-menu-item>Add drawing</button>
      </mat-menu>
   </button>
</div>