<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill="100hv">
  <mat-card class="body">
    <div fxLayout="column" fxLayoutAlign="center center">

      <mat-card-title>
        <span style="color: #4285F4;">F</span>
        <span style="color: #EA4335;">u</span>
        <span style="color: #FBBC05;">n</span>
        <span style="color: #4285F4;">d</span>
        <span style="color: #34A853;">o</span>
        <span style="color: #EB4E41;">o</span>
      </mat-card-title>

      <h1 style="margin-top: 5px;">Account recovery</h1>
      <h3>Recover your Fundoo Account</h3>
    </div>

    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" [style.width.%]="95" class="form-group">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <mat-error *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required" class="invalid-feedback">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </mat-error>
      </mat-form-field>

    </form>

    <div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-top: 5%; margin-left: -2vh;">
      <a mat-button href="http://localhost:4200/register" target="_blank" style="color: #1a73e8;">Create Account</a>
      <button mat-raised-button class="button-next" color="primary" (click)="onSubmit()">Next</button>
    </div>
  </mat-card>
</div>