.body {
   border       : 1px solid;
   border-color : gainsboro;
   border-radius: 8px;
   height       : auto;
   width        : auto;
   margin-top   : 160px;
   padding      : 30px;
}

.button-next {
   display         : flex;
   display         : table-cell;
   margin          : 8px 8px 8px 0;
   padding         : inherit;
   background-color: #1a73e8
}

.invalid-feedback {
   font-size: x-small;
   color    : red;
}