<div class="container">
   <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="snav.toggle()" style=" opacity:0.8;">
         <mat-icon>menu</mat-icon>
      </button>
      <img src="./../../../assets/images/googleKeep.jpg" alt="image" style="width: 24px; margin-left: 8px;">
      <h1 class="title">Fundoo</h1>

      <mat-form-field class="search-bar">
         <!-- <button>
            <mat-icon matPrefix>search</mat-icon></button> -->
         <mat-label>Search</mat-label>
         <input matInput type="text" [(ngModel)]="value">
         <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
         </button>
      </mat-form-field>

      <span class="spacer"></span>
      <button mat-icon-button style=" opacity:0.7;">
         <mat-icon style="font-size: 24px;">refresh</mat-icon>
      </button>
      <button mat-icon-button style="margin-right: 30px; opacity:0.6; margin-left: 3px;">
         <img style="width: 24px;" src="./../../../assets/icons/settings_black_24dp.svg" alt="settings">
      </button>

      <button mat-icon-button style=" opacity:0.8;">
         <mat-icon style="font-size: 23px;">apps</mat-icon>
      </button>
      <button mat-icon-button style=" opacity:0.8;" (click)="logOut()">
         <mat-icon style="font-size: 24px;">account_circle</mat-icon>
      </button>
   </mat-toolbar>
   <mat-divider></mat-divider>

   <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" #snav style="width: 250px;">
         <mat-nav-list>
            <a mat-list-item (click)='note()'>
               <button mat-icon-button style=" opacity:0.7; background-color: #feefc3;">
                  <img src="./../../../assets/icons/lightbulb_black_24dp.svg">
               </button>Notes</a>
            <a mat-list-item>
               <button mat-icon-button style=" opacity:0.7; background-color: #feefc3;">
                  <img src="./../../../assets/icons/notifications_black_24dp.svg">
               </button>Reminders</a>
            <a mat-list-item>
               <button mat-icon-button style=" opacity:0.7; background-color: #feefc3;">
                  <img src="./../../../assets/icons/edit_black_24dp.svg">
               </button>Edit Labels</a>
            <a mat-list-item  (click)='archive()'>
               <button mat-icon-button style=" opacity:0.7; background-color: #feefc3;">
                  <img src="./../../../assets/icons/archive_black_24dp.svg">
               </button>Archive</a>
            <a mat-list-item  (click)='Bin()'>
               <button mat-icon-button style=" opacity:0.7; background-color: #feefc3;">
                  <img src="./../../../assets/icons/delete_black_24dp.svg">
               </button>Bin</a>
         </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
         <router-outlet></router-outlet>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>