<mat-expansion-panel hideToggle class="createNotes">
   <mat-expansion-panel-header>
      <mat-panel-title style="align-items: center;">
         Take a note..
      </mat-panel-title>
      <mat-panel-description style="flex-grow: 0;">
         <button mat-icon-button>
            <mat-icon>check_box</mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon>brush</mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon>image</mat-icon>
         </button>
      </mat-panel-description>
   </mat-expansion-panel-header>
   <p> Take a note..</p>
   <div>
      <app-icons></app-icons>
   </div>
</mat-expansion-panel>