<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill="100hv">
  <mat-card class="body">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <span style="color: #4285F4;">F</span>
        <span style="color: #EA4335;">u</span>
        <span style="color: #FBBC05;">n</span>
        <span style="color: #4285F4;">d</span>
        <span style="color: #34A853;">o</span>
        <span style="color: #EB4E41;">o</span>
      </mat-card-title>
      <h1 style="margin-top: 5px;">Change Password</h1>
    </div>

    <h3>Create a strong password</h3>
    <p>Create a new, strong password that you don't use for other websites</p>

    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" [style.width.%]="95" class="form-group">
        <mat-label>Create Password</mat-label>
        <input [type]="hide?'password':'text'" matInput formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" [style.width.%]="95" class="form-group">
        <mat-label>Confirm</mat-label>
        <input [type]="hide?'password':'text'" matInput formControlName="confirmPassword"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <mat-error *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </mat-error>
      </mat-form-field>
    </form>

    <div class="show-Password" (click)="showPassword()">
      <mat-checkbox>Show Password</mat-checkbox>
    </div>

    <div fxLayoutAlign="start center" fxLayoutGap="220px" style="margin-top: 5%; margin-left: -2vh;">
      <a mat-button href="http://localhost:4200/login" target="_blank" style="color: #1a73e8;">Skip</a>
      <button mat-raised-button class="button-next" color="primary" (click)="onSubmit()">Save Password</button>
    </div>
  </mat-card>
</div>