.body {
   border       : 1px solid;
   border-color : gainsboro;
   border-radius: 8px;
   height       : auto;
   width        : 380px;
   padding      : 30px;
}

.button-next {
   margin          : 8px 8px 8px 0;
   padding         : 4px;
   background-color: #1a73e8
}

.show-Password {
   margin: 12px 12px;
   margin-left: 0.5vh;
 }